<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--<bean id="userService" class="bean.UserService"/>-->

	<!--<bean id="myApplicationAware" class="aware接口实现.MyApplicationAware"/>-->
	<!--<bean id="beanPostProcessorTest" class="BeanPostProcessor接口.BeanPostProcessorTest"/>-->
	<bean id="factoryBeanPojo" class="factoryBeanTest.FactoryBeanPojo"/>
</beans>